* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One";
}
body {
  /* background: #95bfcc; */
  overflow: hidden;
}
nav {
  width: 80%;
  margin: 40px 65px 70px 65px;
  /* display: flex; */
  height: 80px;
  justify-items: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li {
  float: right;
  border: none;
  margin-right: 40px;
  text-align: center;
}
ul a img {
  margin-left: 65px;
}

ul li a {
  /* margin-right: 30px; */
  text-decoration: none;
  /* height: 40px; */
  background-color: #1b6db2;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 15px;
}
.big-text {
  margin-top: 40px;
  font-size: 70px;
  font-family: "Russo One";
  line-height: 80px;
}
.version-control-text {
  /* border-bottom: 15px solid yellow; */
}
hr {
  width: 90%;
  height: 25px;
  background-color: rgb(242 189 83);
  /* background-color: #ffbe55; */
  margin-top: -30px;
  border: none;
}
.cta-btn {
  margin-top: 120px;
  font-size: 40px;
  background-color: rgb(242 189 83);
  border: none;
  border-radius: 4px;
  color: #000;
  padding: 20px;
}
.container {
  display: flex;
  height: calc(100vh - 80px);
}
.brand-text {
  margin-left: 120px;
  flex: 1;
}
.secondary-logo {
  flex: 3;
  margin-right: 65px;
}
.github-lab {
  width: 100%;
  height: 100vh;
  /* align-content: center;
  justify-items: center;
  align-items: center; */
}
.github-lab img {
  width: 100%;
  height: 0 auto;
  margin-bottom: -50px;
}

/* Making it Responsive with Media Queries  */
@media (min-width: 960px) {
  .container {
    /* flex-direction: column; */
  }
}
@media (min-width: 1200px) {
  .brand-text {
    flex: 4;
  }
  .secondary-logo {
    flex: 6;
  }
}
